" ensure the encoding will be interpreted correctly
scriptencoding utf-8
set encoding=utf-8

" disable filetype detection temporarily
filetype off

" show matching brackets
set showmatch

" show line numbers
set number
